<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
    <link rel="stylesheet" href="/stylesheets/albums-style.css">
</head>

<body>
    <div class="image-container">
        <div>
            <img src="./images/tower-of-meaning.jpg " alt="tower-of-meaning-album-image">
            <p>Tower of Meaning, 1983</p>

        </div>
        <div> <img src="./images/world-of-echo.jpeg " alt="world-of-echo-album-image">
            <p>World of Echo, 1986</p>
        </div>
        <div>
            <img src="./images/another-thought.webp " alt="another-thought-album-image">
            <p>Another Thought, 1984</p>
        </div>
        <div>
            <img src="./images/corn.jpeg " alt="corn-album-image">
            <p>Corn, 2015</p>
        </div>
        
      
    </div>
</body>

</html>