<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photos</title>
    <link rel="stylesheet" href="/stylesheets/photos-style.css">
</head>

<body>
    <div class="image-container">
        <img src="./images/arthur-1.jpg " alt="arthur-image">
        <img src="./images/arthur-2.webp " alt="arthur-image">
        <img src="./images/arthur-3.webp " alt="arthur-image">
        <img src="./images/arthur-4.jpeg " alt="arthur-image">
        <img src="./images/arthur-5.jpg " alt="arthur-image">
        <img src="./images/arthur-6.png " alt="arthur-image">
    </div>
</body>

</html>